@import url('https://fonts.googleapis.com/css2?family=Goldman&display=swap');
@charset "UTF-8";
* {
  border: none;
  position: relative;
  font-family: Goldman;
  vertical-align: top;
}

html, body {
  border: none;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.chatroom {
  width: 500px;
  padding: 35px;
  background-color: #021f38;
  border-radius: 5px;
}
.chatroom .overflow {
  overflow-y: scroll;
  background-color: #0D0D0D;
  border-radius: 5px;
}
.chatroom .overflow .chatarea {
  height: 350px;
  position: relative;
}
.chatroom .overflow .chatarea .new {
  border: none;
  margin-top: 5px;
  left: 15px;
  color:white;
}
.chatroom .textarea {
  border: 0px;
  position: relative;
}
.chatroom .textarea input {
  margin-top: 30px;
  width: 390px;
  height: 30px;
  border-radius: 5px;

  background-color: white;
}
.chatroom .textarea .sendbtn {
  width: 100px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -32px;
  left: 400px;
  font-size: 13px;
  background-color:#0ABF04;
  border-radius:5px;
  color: white;
}
.chatroom .textarea .sendbtn:hover {
  background-color:#0D0D0D;
  cursor: pointer;
}